@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<form method="post">
    <input type="text" asp-for="@Model.Url" class="form-control" />
    <button type="submit" class=" btn btn-primary">SEND</button>
</form>